<%# <h1>Here comes the users list</h1> %>
<%= render 'users/user_tag'%>
<%= render 'users/user_tag'%>
<%= render 'users/user_tag'%>
<%= render 'users/user_tag'%>
<%= render 'users/user_tag'%>
<%= render 'users/user_tag'%>
