<div class="container my-2 d-flex flex-column gap-4">
  <%= render 'users/user_tag'%>
  <div class="container d-flex-column gap-2">
    <%= render 'posts/post_preview'%>
    <%= render 'posts/comments_short'%>
  </div>
  <div class="container d-flex-column gap-2">
    <%= render 'posts/post_preview'%>
    <%= render 'posts/comments_short'%>
  </div>
  <button type="button" class="btn border">Pagination</button>
</div>