<div class="container my-2 d-flex flex-column gap-4 p-2">
  <%= render 'fragments/post'%>

  <%= button_to 'Delete Post', user_post_path(@user, @post), :method => :delete %>

  <%# Render latest comments for current post, if there are comments to show %>
  <% unless @comments.empty? %>
    <%# Renders all available comments %>
    <div class='container border mt-1'>
      <% @comments.includes(:author).each do |c| %>
        <%# Call comment fragment to render latest comments %>
        <%= render 'fragments/comment', comment: c %>
        <%= button_to 'Delete comment', user_post_comment_path(@user, @post, c), :method => :delete %>
      <% end %>
    </div>
    <br>
  <% end %>

  <%# Render form to add new comment %>
  <%= render 'fragments/comment_form' %>

  <%# Render like button %>
  <%= render 'fragments/like_create' %>
  
</div>
